$badge-w: 95px;
$badge-h: 119px;

.card-wrapper {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  margin: 16px auto;
  position: relative;
  width: 336px;

  .backpage {
    font-size: 20px;
    height: 22px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 640px;
    width: 91px;
    &::before {
      content: url("./img/back-arrow-20.png");
      height: 20px;
      margin-right: 10px;
      width: 20px;
    }
  }
}

.card-img {
  padding: 40px 58px 16px 58px;
  position: relative;
  &::after {
    content: "";
    background-image: url("./img/badge.png");
    background-size: cover;
    display: block;
    height: calc(#{$badge-h} -  0.3*#{$badge-h});
    position: absolute;
    right: 36px;
    top: 20px;
    transform: rotate(3deg);
    width: calc(#{$badge-w} - 0.3*#{$badge-w});
  }
}

.book-cover {
  width: 100%;
}

.card-header {
  margin-bottom: 18px;
  &::after {
    background-color: $pastel-green;
    content: "";
    display: block;
    height: 4px;
    margin-top: 10px;
    width: 100%;
  }
}

.book-title {
  color: $black;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

.genre {
  color: $gray;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.card-body {
  padding: 0 16px 20px 16px;
  width: 100%;
}

.card-content {
  margin-bottom: 25px;
}

.subtitle {
  color: $black;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.card-text {
  color: $gray;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 1024px) {
  .card-wrapper {
    grid-template-columns: 1fr 2fr;
    height: 416px;
    position: relative;
    width: 900px;

    .backpage {
      bottom: 510px;
      margin: 0;
      top: initial;
    }
  }

  .card-img {
    padding: 22px;
    &::after {
      height: $badge-h;
      left: 220px;
      top: 0;
      width: $badge-w;
    }
  }

  .book-cover {
    height: 368px;
    width: 261px;
  }

  .card-header {
    margin-bottom: 35px;
  }

  .book-title {
    color: $black;
    font-size: 32px;
    font-weight: 700;
    height: 39px;
    line-height: 38px;
    width: 210px;
  }

  .genre {
    color: $gray;
    font-size: 24px;
    font-weight: 700;
    height: 30px;
    line-height: 28px;
    width: 98px;
  }

  .card-body {
    align-self: center;
    margin: 0 24px;
    height: 368px;
    width: 100%;
  }

  .card-content {
    margin-bottom: 30px;
  }

  .subtitle {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    height: 22px;
    line-height: 24px;
  }

  .card-text {
    color: $gray;
    font-size: 20px;
    height: 22px;
    line-height: 24px;
    width: 274px;
  }
}
