.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 0 auto;
  max-width: 899px;
}

.cardList-wrapper {
  align-items: center;
  background-color: $white;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12fr repeat(3, 1fr);
  justify-items: center;
  height: 300px;
  margin: 24px 0;
  transition: all 0.5s;
  width: 198px;
}

.cardList-wrapper:hover {
  transform: scale(1.2);
}

.cardList-cover {
  display: block;
  height: 200px;
  width: 142px;
}

.cardList-title {
  color: $black;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  width: 142px;
}

.cardList-author {
  color: $gray;
  font-size: 14px;
  padding: 0;
  width: 142px;
}
