* {
  font-family: "Roboto", sans-serif;
}

.main {
  margin: auto;
  margin: 50px auto;
  min-height: 750px;
  min-width: 376px;
  width: 100%;
}

@media (min-width: 1024px) {
  .main {
    width: 100%;
    padding-top: 100px;
  }
}
